@page
@model IndexModel
@{
    ViewData["Title"] = "Veterinaria Mascota Feliz";
    <link rel="stylesheet" href="~/css/site.css" />
}

<div class="row">
    <div class="col-10">
      
      <img src="~/img/mascotafeliz.jpg"class="img-fluid" sizes="100px" >
    </div>
</div>
