@page
@model MascotaFeliz.App.Frontend.Pages.EditVModel
@{
}
<h2>Edicion de las Visitas: @Model.Visita.Id</h2>
<form method="post">
    <input type="hidden" asp-for="Visita.Id"/>
    <div class="form-group">
        <label asp-for="Visita.Fecha_hora"></label>
        <input asp-for="Visita.Fecha_hora" class ="form-control">
        <span class="textdanger" asp-validation-for="Visita.Fecha_hora"></span>
    </div>
    <div class="form-group">
        <label asp-for="Visita.Temperatura"></label>
        <input asp-for="Visita.Temperatura" class ="form-control">
        <span class="textdanger" asp-validation-for="Visita.Temperatura"></span>
    </div>
    <div class="form-group">
        <label asp-for="Visita.Peso"></label>
        <input asp-for="Visita.Peso" class ="form-control">
        <span class="textdanger" asp-validation-for="Visita.Peso"></span>
    </div>
    <div class="form-group">
        <label asp-for="Visita.FreRespiratoria"></label>
        <input asp-for="Visita.FreRespiratoria" class ="form-control">
        <span class="textdanger" asp-validation-for="Visita.FreRespiratoria"></span>
    </div>
    <div class="form-group">
        <label asp-for="Visita.FreCardiaca"></label>
        <input asp-for="Visita.FreCardiaca" class ="form-control">
        <span class="textdanger" asp-validation-for="Visita.FreCardiaca"></span>
    </div>
    <div class="form-group">
        <label asp-for="Visita.EstadoAnimo"></label>
        <input asp-for="Visita.EstadoAnimo" class ="form-control">
        <span class="textdanger" asp-validation-for="Visita.EstadoAnimo"></span>
    </div>
    <div class="form-group">
        <label asp-for="Visita.Recomendaciones"></label>
        <input asp-for="Visita.Recomendaciones" class ="form-control">
        <span class="textdanger" asp-validation-for="Visita.Recomendaciones"></span>
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
<a asp-page="./ListV" class="btn-default">Lista de Visitas</a>