@page
@model MascotaFeliz.App.Frontend.Pages.DeletePModel
@{
}

<br />
<h2 class="text-info">Eliminar Propietario: @Model.Propietarios.Nombres</h2>
<div class="border">
    <form method="post">
        <input type="hidden" asp-for="Propietarios.Id" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="container" style="padding: 50px;">
                <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="Propietarios.Identificacion"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="Propietarios.Identificacion" class="form-control">
                    </div>
                    <span class="textdanger" asp-validation-for="Propietarios.Identificacion"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="Propietarios.Nombres"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="Propietarios.Nombres" class="form-control">
                    </div>
                    <span class="textdanger" asp-validation-for="Propietarios.Nombres"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="Propietarios.Apellidos"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="Propietarios.Apellidos" class="form-control">
                    </div>
                    <span class="textdanger" asp-validation-for="Propietarios.Apellidos"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="Propietarios.Telefono"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="Propietarios.Telefono" class="form-control">
                    </div>
                    <span class="textdanger" asp-validation-for="Propietarios.Telefono"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="Propietarios.Direccion"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="Propietarios.Direccion" class="form-control">
                    </div>
                    <span class="textdanger" asp-validation-for="Propietarios.Direccion"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2 offset-sm-2">
                        <button type="submit" class="btn btn-primary form-control">Eliminar</button>
                    </div>
                    <div class="col-sm-2">
                        <a asp-page="./ListP" class="btn btn-success form-control">Volver</a>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>